<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="10">

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%p] [%t] %c.%M(%L) | %m%n"/>
        </Console>

        <RollingFile name="RollingFile" fileName="D:/log4j2.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%p] [%t] %c.%M(%L) | %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="max" max="2"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <logger name="org.springframework.web">
            <level value="DEBUG"/>
            <AppenderRef ref="Console"/>
        </logger>
        <Root level="ALL">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>

</Configuration>